@import './sass-vars.scss';

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $comments;
}

.token.punctuation {
  color: $variables;
}

.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: $properties;
}

.token.string,
.token.attr-value,
.token.char,
.token.builtin,
.token.inserted {
  color: $strings;
}

.hljs-comment,
.hljs-quote {
  color: $comments;
}

.hljs-name {
  color: $operators;
}

.hljs-tag,
.hljs-attribute {
  color: $variables;
}

/* Atelier-Cave Red */
.hljs-variable,
.hljs-template-variable,
.hljs-attr,
.hljs-regexp,
.hljs-link,
.hljs-selector-id,
.hljs-selector-class {
  color: $functions;
}

/* Atelier-Cave Orange */
.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: $properties;
}

/* Atelier-Cave Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: $strings;
}

/* Atelier-Cave Blue */
.hljs-title,
.hljs-section {
  color: #576ddb;
}

/* Atelier-Cave Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #955ae7;
}

.hljs-deletion,
.hljs-addition {
  color: #19171c;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #be4678;
}

.hljs-addition {
  background-color: #2a9292;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #19171c;
  color: var(--text);
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.token.selector,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.token.unit,
.style .token.string {
  color: $operators
}

.token.atrule,
.token.keyword {
  color: $keywords;
}

.token.attr-name,
.token.function,
.token.class-name,
.token.class {
  color: $functions;
}

.token.property,
.token.regex,
.token.important,
.token.variable {
  color: $variables;
}

.token.pseudo-class {
  color: $types;
}