$black: #000;
$darkgrey: #222;
$midgrey: #777;
$grey: #aaa;
$lightgrey: #ffead1;
$white: #fff;
$dimwhite: rgba($white, 0.2);
$primary: #ff9000;
$primary-light: #a35c00;

$font: 'Libre Franklin', sans-serif;
$serif: 'Goudy Bookletter 1911', 'Arimo', sans-serif;

$speed1: 0.15s;

$spacing: 2rem;

$width: 1000px;

// Code blocks
$comments: #676f7d;
$properties: #c678dd;
$strings: #e5c07b;
$operators: #e06c75;
$keywords: #e06c75;
$functions: #98c379;
$variables: #abb2bf;
$types: #56b6c2;
$classes: #61afef;
