$black: #000;
$darkgrey: #222;
$midgrey: #777;
$grey: #aaa;
$lightgrey: #f7efe5;
$white: #fff;
$dimwhite: rgba($white, 0.2);
$primary: #ef2700;

$font: 'Libre Franklin', sans-serif;
$serif: 'Goudy Bookletter 1911', 'Arimo', sans-serif;

$speed1: 0.15s;

$spacing: 2rem;

$width: 1000px;
