/* Heading styles */

$slightly-lighter-dark-grey: color-mod($darkgrey lightness(20%));

h1,
.t-h1,
h2,
.t-h2 {
  font-family: $grotesk;
  font-weight: 700;
}

h1,
.t-h1 {
  font-size: 2.5rem;
  line-height: calc(40 / 25);
  letter-spacing: 0.12rem;

  @media (--desktop) {
    font-size: 4rem;
    line-height: calc(60 / 40);
    letter-spacing: 0.12rem;
  }
}

h2,
.t-h2 {
  font-size: 2rem;
  line-height: calc(30 / 20);
  letter-spacing: 0.12rem;

  @media (--desktop) {
    font-size: 3rem;
    line-height: calc(45 / 30);
    letter-spacing: 0.12rem;
  }
}

/* Text styles */
p,
.t-para {
  font-size: 1.6rem;
  line-height: calc(25 / 15);

  @media (--desktop) {
    font-size: 1.7rem;
    line-height: calc(28 / 16);
  }
}

.t-small {
  font-size: 1rem;
  line-height: calc(12 / 9);

  @media (--desktop) {
    font-size: 1.2rem;
    line-height: calc(14 / 10);
  }
}

b,
strong,
.t-strong {
  font-weight: 700;
}

.t-outline {
  color: $darkgrey;
  text-shadow:
    -1px -1px 0 $lightgrey,
    1px -1px 0 $lightgrey,
    -1px 1px 0 $lightgrey,
    1px 1px 0 $lightgrey;
}

::selection {
  background: color-mod($white a(0.05));
  color: $red;
}

p a,
.link {
  border-bottom: 1px solid $red;
  transition: color $speed1 ease;

  &:hover {
    color: $red;
  }
}

blockquote {
  padding: $spacing;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 1px $black;
  border-right: 2px solid $red;

  & p {
    margin-bottom: 0;
  }
}

pre,
code {
  font-family: 'IBM Plex Mono', monospace;
}

p code {
  font-size: 0.9em;
  padding: 3px 4px;
  background: $slightly-lighter-dark-grey;
  box-shadow: 0 1px 1px $black;
  border-radius: 2px;
  color: $white;
}

pre {
  overflow-x: auto;
  font-size: 0.8em;
  padding: $spacing;
  margin-right: calc(9 * -$spacing);
  margin-left: -$spacing;
  background: $slightly-lighter-dark-grey;
  box-shadow: 0 1px 1px $black;
  color: $white;
}

figure {
  margin-top: 3rem;
  margin-bottom: 3rem;

  img {
    box-shadow: 0 1px 1px $black;
  }
}

ol {
  list-style: numeric;
  padding-left: 15px;
  font-size: 1.6rem;
  line-height: calc(25 / 15);

  @media (--desktop) {
    font-size: 1.7rem;
    line-height: calc(28 / 16);
  }
}

.small-caps {
  font-size: 0.85em;
  text-transform: uppercase;
}

.text-red {
  color: $red;
}

.text-blackletter {
  font-family: $grotesk;
  font-size: 1.1em;
}

.Content h1,
.Content h2 {
  line-height: 1;
  text-shadow: 3px 3px 0px $black;
}

.Content h2 {
  margin-top: 6rem;
}

.Content > ul > li {
  position: relative;
  padding-left: 20px;

  &::before {
    content: '\D7';
    position: absolute;
    left: 0;
  }
}

.Content figcaption {
  font-size: 0.85em;
  margin-top: 4px;
}
