@import './sass-vars.scss';

h1,
.t-h1,
h2,
.t-h2 {
  font-family: $serif;
  font-weight: 700;
}

h1,
.t-h1 {
  font-size: 3.6rem;
  line-height: calc(40 / 25);
  font-weight: 400;
  letter-spacing: 0.12rem;

  @include desktop {
    font-size: 4rem;
    line-height: calc(60 / 40);
    letter-spacing: 0.12rem;
  }
}

h2,
.t-h2 {
  font-size: 2.8rem;
  line-height: calc(30 / 20);
  font-weight: 400;
  letter-spacing: 0.12rem;

  @include desktop {
    font-size: 3rem;
    line-height: calc(45 / 30);
    letter-spacing: 0.12rem;
  }
}

h3,
.t-h3 {
  font-size: 2rem;
  line-height: calc(30 / 20);
}

h4,
.t-h4 {
  font-size: 1.8rem;
  line-height: calc(30 / 20);
}

/* Text styles */
p,
li,
.t-para {
  font-size: 1.6rem;
  line-height: calc(25 / 15);

  @include desktop {
    font-size: 1.7rem;
    line-height: calc(28 / 16);
  }
}

.t-small {
  font-size: 1.4rem;
  line-height: calc(16 / 10);

  @include desktop {
    font-size: 1.4rem;
  }
}

.t-xs {
  font-size: 1.2rem;
}

.t-large {
  font-size: 1.8rem;

  @include desktop {
    font-size: 2rem;
  }
}

.t-xlarge {
  font-size: 2.2rem;

  @include desktop {
    font-size: 2.6rem;
  }
}

.t-serif {
  font-family: $serif;
}

b,
strong,
.t-strong {
  font-weight: 700;
}

.t-outline {
  color: var(--background);
  text-shadow:
    -1px -1px 0 $lightgrey,
    1px -1px 0 $lightgrey,
    -1px 1px 0 $lightgrey,
    1px 1px 0 $lightgrey;
}

::selection {
  background: rgba(var(--text), 0.05);
  color: var(--primary);
}

.Post {
  max-width: 600px; 

  hr {
    height: 1px;
    margin-bottom: 2rem;
    border: 0;
    background-color: rgba(var(--accent), 0.3);
  }
}

p a,
.Post a,
.link {
  border-bottom: 1px solid var(--primary);
  transition: color $speed1 ease;

  &:hover {
    color: var(--primary);
  }

  &:focus {
    outline: 1px solid var(--primary);
  }
}

blockquote,
.Post aside {
  font-style: italic;
  padding: $spacing;
  background-color: var(--shadow);
  border-radius: 6px;
  box-shadow: 0 1px 1px var(--shadow);

  & p {
    margin-bottom: 0;
  }

  @include desktop {
    margin-right: -$spacing;
    margin-left: -$spacing;
  }
}

.Post figure {
  position: relative;
}

.nowrap { white-space: nowrap; }

pre,
code,
.font-monospace {
  font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
}

p code {
  font-size: 0.85em;
  padding: 2px 5px 4px;
  background: var(--shadow);
  border-radius: 4px;
  color: var(--text);
}

pre {
  overflow-x: auto;
  font-size: 0.8em;
  padding: $spacing;
  margin-right: -$spacing;
  margin-left: -$spacing;
  background: darken($darkgrey, 2%);
  box-shadow: 0 1px 1px var(--shadow);
  color: $white;

  @include desktop {
    margin-right: calc(9 * -#{$spacing});
    border-radius: 6px;
  }
}

figure {
  margin-top: 3rem;
  margin-bottom: 3rem;

  img {
    box-shadow: 0 1px 1px var(--shadow);
  }
}

ol {
  font-size: 1.6rem;
  line-height: calc(25 / 15);
  padding-left: 15px;
  list-style: decimal;

  @include desktop {
    font-size: 1.7rem;
    line-height: calc(28 / 16);
  }
}

.small-caps {
  font-size: 0.85em;
  text-transform: uppercase;
}

.text-primary {
  color: var(--primary);
}

.text-serif {
  font-family: $serif;
  font-size: 1.1em;
}

.Content h1,
.Content h2 {
  line-height: 1;
  text-shadow: 3px 3px 0 var(--shadow);
}

.Content h2 {
  padding-bottom: 1rem;
  margin-top: 6rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--faded)
}

.Content h3 {
  margin-top: 3rem;
  margin-bottom: 0.7rem;
}

.Post ol {
  padding-left: 2.5rem;
}

.Post ul:not([role="list"]) > li {
  position: relative;
  padding-left: 20px;

  &::before {
    content: '\D7';
    position: absolute;
    left: 0;
  }
}

.Content figcaption {
  font-size: 0.85em;
  margin-top: 4px;

  a {
    text-decoration: underline;
    text-decoration-color: $primary;
  }
}

.font-sm {
  font-size: 1.6rem;
}

.font-regular { font-weight: 400; }

.font-bold {
  font-weight: 700;
}

.font-italic { font-style: italic; }

.keyline {
  padding-bottom: 1rem !important;
  margin-bottom: 1rem !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.text-accent { color: var(--accent); }
.text-right{ text-align: right; }
.leading-tight { line-height: 1 !important; }