@font-face {
  font-family: 'Goudy Bookletter 1911';
  font-weight: normal;
  font-style: normal;
  src:
    url('/fonts/goudybookletter1911-webfont.woff2') format('woff2'),
    url('/fonts/goudybookletter1911-webfont.woff') format('woff');
}

$black: #000;
$darkgrey: #222;
$midgrey: #777;
$grey: #aaa;
$lightgrey: #f7efe5;
$white: #fff;
$dimwhite: color-mod($white a(0.2));
$primary: #ef2700;

$font: 'Libre Franklin', sans-serif;
$serif: 'Goudy Bookletter 1911', 'Arimo', sans-serif;

$speed1: 0.15s;

$spacing: 2rem;

$width: 1000px;

:root {
  /* Default/dark styles */
  --color-mode: 'dark';
  --shadow: color-mod($black tint(10%));
  --background: $darkgrey;
  --accent: $grey;
  --faded: $dimwhite;
  --text: $white;
  --primary: $primary;
  --icon: var(--icon-moon);
  --icon-filter: var(--icon-sun-filter);

  /* Light settings */
  --shadow-light: $lightgrey;
  --background-light: $white;
  --accent-light: $darkgrey;
  --faded-light: $midgrey;
  --text-light: $black;
  --primary-light: $primary;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-mode: 'light';
  }

  :root:not([data-user-color-scheme]) {
    --shadow: var(--shadow-light);
    --background: var(--background-light);
    --accent: var(--accent-light);
    --faded: var(--faded-light);
    --text: var(--text-light);
    --primary: var(--primary-light);
    --icon: var(--icon-sun);
    --icon-filter: var(--icon-sun-filter);
  }
}

[data-user-color-scheme='light'] {
  --shadow: var(--shadow-light);
  --background: var(--background-light);
  --accent: var(--accent-light);
  --faded: var(--faded-light);
  --text: var(--text-light);
  --primary: var(--primary-light);
  --icon: var(--icon-sun);
  --icon-filter: var(--icon-sun-filter);
}

@custom-media --mobile (width <= 768px);
@custom-media --desktop (width > 768px);
@custom-media --fullscreen (width > 1240px);
