@import './sass-vars.scss';

:root {
  /* Default/dark styles */
  --color-mode: 'dark';
  --shadow: #{darken($darkgrey, 2%)};
  --background: #{$darkgrey};
  --accent: #{$grey};
  --faded: #{$dimwhite};
  --text: #{$white};
  --primary: #{$primary};
  --icon: var(--icon-moon);
  --icon-filter: var(--icon-sun-filter);

  /* Light settings */
  --shadow-light: #{$lightgrey};
  --background-light: #{$white};
  --accent-light: #{$darkgrey};
  --faded-light: #{$midgrey};
  --text-light: #{$black};
  --primary-light: #{$primary-light};
}

@media (prefers-color-scheme: light) {
  :root {
    --color-mode: 'light';
  }

  :root:not([data-user-color-scheme]) {
    --shadow: var(--shadow-light);
    --background: var(--background-light);
    --accent: var(--accent-light);
    --faded: var(--faded-light);
    --text: var(--text-light);
    --primary: var(--primary-light);
    --icon: var(--icon-sun);
    --icon-filter: var(--icon-sun-filter);
  }
}

[data-user-color-scheme='light'] {
  --shadow: var(--shadow-light);
  --background: var(--background-light);
  --accent: var(--accent-light);
  --faded: var(--faded-light);
  --text: var(--text-light);
  --primary: var(--primary-light);
  --icon: var(--icon-sun);
  --icon-filter: var(--icon-sun-filter);
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin fullscreen {
  @media (min-width: 1240px) {
    @content;
  }
}
