@font-face {
  font-family: 'Sebaldus';
  font-weight: normal;
  font-style: normal;
  src:
    url('/static/fonts/Sebaldus-Gotisch.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/Sebaldus-Gotisch.woff') format('woff'),
    url('/static/fonts/Sebaldus-Gotisch.ttf')  format('truetype'),
    url('/static/fonts/Sebaldus-Gotisch.svg#Sebaldus-Gotisch') format('svg');
}

$black: #000;
$darkgrey: #222;
$lightgrey: #F7EFE5;
$white: #fff;
$dimwhite: color-mod($white a(0.65));
$red: #f00;

$font: 'Libre Franklin', sans-serif;
$grotesk: 'Sebaldus', 'Arimo', sans-serif;

$speed1: 0.15s;

$spacing: 2rem;

@custom-media --desktop (width > 768px);
