@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

$black: #000;
$darkgrey: #3a3a3a;
$white: #fff;
$dimwhite: color-mod($white a(0.65));
$red: #f00;

$font: 'Arimo', serif;

$speed1: 0.15s;

$spacing: 2rem;

@custom-media --desktop (width > 1024px);