.d-flex { display: flex; }
.flex-1 { flex: 1; }
.align-bottom { align-items: flex-end; }
.align-center { align-items: center; }

.gap-xs { gap: 0.5rem; }
.gap-sm { gap: 1rem; }

.pl-0 { padding-left: 0 !important; }

.mt-0 { margin-top: 0 !important; }
.mb-0 { margin-bottom: 0 !important; }

.mb-xs { margin-bottom: 0.5rem; }
.mb-sm { margin-bottom: 1rem; }
.mb-md { margin-bottom: 2rem; }

.ml-xs { margin-left: 0.5rem; }
.ml-sm { margin-left: 1rem; }
.ml-md { margin-left: 2rem; }
.ml-lg { margin-left: 4rem; }

.mt-2xs { margin-top: 0.25rem !important; }
.mt-xs { margin-top: 0.5rem !important; }
.mt-sm { margin-top: 1rem !important; }
.mt-md { margin-top: 2rem !important; }
.mt-lg { margin-top: 4rem !important; }

.rounded { border-radius: 4px; }
.overflow-hidden { overflow: hidden; }

.w-10 { width: 10%; }

// https://piccalil.li/quick-tip/visually-hidden/
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

hr {
  border: 0;
  height: 1px;
  border: 0;
  background-color: var(--faded);
}

.desktop\: {
  @include desktop {
    &d-flex {
      display: flex;
    }
    
    &flex-row {
      flex-direction: row;
    }
  }
}

.mobile\: {
  @include mobile {
    &w-100 { width: 100%; }
  }
}