.d-block
.d-flex { display: flex; }
.flex-1 { flex: 1; }
.align-bottom { align-items: flex-end; }
.align-center { align-items: center; }

.mt-0 { margin-top: 0 !important; }
.mb-0 { margin-bottom: 0 !important; }

.mb-sm { margin-bottom: 1rem; }

.ml-sm { margin-left: 1rem; }
.ml-md { margin-left: 2rem; }
.ml-lg { margin-left: 4rem; }

.mt-sm { margin-top: 1rem !important; }
.mt-md { margin-top: 2rem !important; }
.mt-lg { margin-top: 4rem !important; }

.rounded { border-radius: 4px; }
.overflow-hidden { overflow: hidden; }

.desktop\: {
  @include desktop {
    &d-flex {
      display: flex;
    }
    
    &flex-row {
      flex-direction: row;
    }
  }
}

.mobile\: {
  @include mobile {
    &w-100 { width: 100%; }
  }
}