.tag {
  display: inline-block;
  padding: 0.5rem 0.8rem;
  background-color: var(--shadow);
  border-radius: 4px;
  transition: all 0.3s ease;

  &[aria-selected="true"] {
    color: var(--background);
    background-color: var(--text);
  }
}