@import '~css/settings/vars';

.Error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: $red;
}

.Error404__title {
  line-height: 1;
  margin-bottom: 0;
}
