.StreamItem {
  position: relative;

  @include desktop {
    display: flex;
    align-items: flex-start;
  }

  h2 {
    border-bottom: 0;
  }
}

.StreamItem__meta {
  position: sticky;
  top: 0rem;
  padding-block: 1rem;
  z-index: 1;
  background-color: var(--background);
}

.StreamItem__body {
  flex: 1;

  h2 {
    margin-top: 1rem;
  }

  @include desktop {
    margin-left: 4rem;
  }
}

.StreamItem__body__images {
  figure {
    margin-top: 0;
  }

  figure+figure {
    margin-top: 2rem;
  }
}