@import '../../assets/css/settings/sass-vars.scss';

.Links {
  max-width: $width;
  padding-right: 2rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;

  & > :first-child {
    padding-top: 1rem;
    border-top: 1px solid var(--faded);

    @include desktop {
      padding-top: 2rem;
    }
  }
}
