@import '../../assets/css/settings/sass-vars.scss';

.Links {
  position: relative;
  max-width: $width;
  padding-right: 2rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-top: 1rem;
  margin-right: auto;
  margin-left: auto;

  @include desktop {
    display: flex;
    justify-content: space-between;
  }

  & > :not(:first-child) {
    @include mobile {
      margin-top: 2rem;
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    background-color: var(--faded);
    left: 2rem;
    right: 2rem;
    top: 0;
  }
}
