.BlogLink {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;

  & > * {
    z-index: 1;
    background: $darkgrey;
  }

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 4px double color-mod($white a(0.5));
  }

  &:focus {
    outline: none;
    color: $red;

    &::before {
      content: '';
      position: absolute;
      left: -25px;
      display: block;
      height: 2px;
      width: 15px;
      background-color: $red;
      top: 6px;
    }

    &::after {
      border-color: color-mod($red a(0.5));
    }

    .BlogLink__date {
      color: $red;
    }
  }
}

.BlogLink__text {
  line-height: 1;
  padding-right: 10px;
}

.BlogLink__date {
  padding-left: 10px;
  color: $dimwhite;
}

.Post h1 {
  line-height: 1;
  margin-bottom: 4rem;
}
