.BlogLink {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 12px;

  & > * {
    z-index: 1;
    background: var(--background);
  }

  &:focus {
    color: var(--primary);
    outline: none;

    &::before {
      content: '';
      position: absolute;
      top: 9px;
      left: -25px;
      display: block;
      width: 15px;
      height: 2px;
      background-color: var(--primary);
    }

    &::after {
      border-color: color-mod(var(--primary) a(0.5));
    }

    .BlogLink__date {
      color: var(--primary);
    }
  }
}

.BlogLink__text {
  flex: 1;
  line-height: 1.2;

  .BlogLink__date + & {
    margin-left: 20px;
  }
}

.BlogLink__date {
  display: inline-block;
  letter-spacing: -0.3px;
  color: var(--accent);
}

.Post h1 {
  line-height: 1;
  margin-bottom: 4rem;
}
