@mixin button {
  padding: 1rem;
  margin-right: 5px;
  margin-left: 5px;
  background: lighten($darkgrey, 5%);
  border-radius: 3px;
  box-shadow: 0 1px 1px var(--shadow);
}

.button {
  @include button;
}
