.cluster {
  --cluster-spacing: 1rem;

  display: flex;
  flex-flow: row wrap;
  margin-right: calc(-1 * var(--cluster-spacing));
  margin-bottom: calc(-1 * var(--cluster-spacing));

  & > * {
    margin-right: var(--cluster-spacing);
    margin-bottom: var(--cluster-spacing);
  }

  & > * + * {
    &::before {
      content: var(--separator);
      margin-right: var(--cluster-spacing);
    }
  }

  @include desktop {
    --cluster-spacing: 2rem;
  }

  &--sm { --cluster-spacing: 1rem; }
  &--lg { --cluster-spacing: 4rem; }
}
