.cluster {
  display: flex;
  flex-flow: row wrap;
  margin-right: -1rem;
  margin-bottom: -1rem;

  & > * {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  @include desktop {
    margin-right: -2rem;
    margin-bottom: -2rem;

    & > * {
      margin-right: 2rem;
      margin-bottom: 2rem;
    }
  }

  &--sm {
    margin-right: -1rem;
    margin-bottom: -1rem;

    & > * {
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
  }

  &--lg {
    margin-right: -4rem;
    margin-bottom: -4rem;

    & > * {
      margin-right: 4rem;
      margin-bottom: 4rem;
    }
  }
}
