/* Web page globals */

html {
  font-size: 62.5%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: $font;
  font-size: 1.6rem;
  line-height: calc(25 / 15);
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0;
  padding-top: 0;
  background-color: $darkgrey;
  color: $white;
  overscroll-behavior: none;

  @media (--desktop) {
    font-size: 1.6rem;
    line-height: calc(24 / 16);
  }
}

.Page {
  position: relative;
  width: 100%;
  max-width: $width;
  height: 100%;
  min-height: 100vh;
  padding-right: 2rem;
  padding-bottom: 50px;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
  color: $white;
}

.Content {
  position: relative;
  z-index: 1;
}

main:not(.Full) {
  max-width: 600px;
  padding-top: 6rem;

  @media (--desktop) {
    padding-top: 10rem;
  }
}

.hidden {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}
