.Project__link {
  position: relative;

  &:focus {
    color: var(--primary);
    outline: none;

    .Project__date {
      color: var(--primary);
    }

    &::before {
      content: '';
      position: absolute;
      top: 12px;
      left: -25px;
      display: block;
      width: 15px;
      height: 2px;
      background-color: var(--primary);
    }
  }
}

.Project__title {
  margin-bottom: 0;
}

.Project__date {
  font-size: 0.8em;
  margin-left: 1rem;
  color: var(--accent);
}
