@import '~css/settings/vars';
@import '~css/layout/button';

.Nav {
  padding-top: 4rem;
}

.Nav__link {
  &:focus {
    outline: 2px solid var(--primary);
  }
}

.divider-vert {
  width: 1px;
  height: 2.5rem;
  background-color: var(--text);
}

[data-element="ThemeToggle"] {
  display: flex;

  .icon {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
    background: var(--icon);
    filter: var(--icon-filter);
    transform: translateY(2px);
    transition: filter 500s ease-in-out;
  }

  &:active,
  &:focus {
    outline: 2px solid var(--primary);
  }
}
