.Nav {
  width: 100%;
  padding-top: 4rem;
}

.Nav__link {
  &:focus {
    outline: 2px solid var(--primary);
  }
}

.divider-vert {
  width: 1px;
  height: 2.5rem;
  background-color: var(--text);
}

.ThemeToggle {
  display: flex;

  .icon {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background: var(--icon);
    filter: var(--icon-filter);
    transform: translateY(2px);
    transition: filter 500s ease-in-out;
  }

  .ThemeToggle__label {
    display: none;
    margin-left: 0.5em;
  }

  &:active,
  &:focus {
    outline: 2px solid var(--primary);
  }

  @include desktop {
    .ThemeToggle__label {
      display: inline-block;
    }
  }
}
