@import '~css/settings/vars';
@import '~css/layout/button';

.Nav {
  padding-top: 4rem;
}

.Nav__link {
  &:focus {
    outline: 2px solid var(--primary);
  }
}

.divider-vert {
  width: 1px;
  height: 2.5rem;
  background-color: white;
}
