.Tag {
  display: inline-block;
  font-size: 0.7em;
  padding: 5px 10px;
  margin-top: -5px;
  margin-bottom: -5px;
  background-color: rgba(#fff, 0.1);
  border-radius: 100px;
}

.BlogLink .Tag {
  margin-left: 8px;
}
